<html>
<head>
    <link type="text/css" rel="stylesheet" href="CSS/Font-Awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="CSS/ATSC_UI.css"/>
    <link type="text/css" rel="stylesheet" href="CSS/qunit-2.0.1.css"/>
    <!--link type="text/css" rel="stylesheet" href="CSS/buttons.css"-->
</head>
<body>
<div id="main">
    <div id="menu">
        <img src="asset/img/qunit_logo.png">
        <ul class="level1">
            <li id="repeat">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>
            <li id="scan">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>
            <li id="play">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>

            <li id="serviceList">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>

            <li id="PC">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>
            <li id="CC">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>

            <li id="infoBar">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>
            <li id="pvr">
                <i v-bind:class='[iconclass]' :aria-hidden='ariaAttr'></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ name }}
                <ul class="level2">
                    <li v-for='item in testcase'><span>{{ item.casename }}</span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="qunit"></div>
    <div id="info" class="container">
        <!--canvas width="960" height="500"></canvas-->
        <table id="infoQueue" class="table">
            <thead>
            <tr>
                <th>Test Case</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in filtered" :id="item.id">
                <td>{{ item.caseNum }}</td>
                <td>{{ item.status }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="prompt"></div>
</div>
<script type="text/javascript" src="lib/LAB.min.js"></script>
<script type="text/javascript" src="lib/Debug.js"></script>
<script type="text/javascript" src="lib/qunit-2.0.1.js"></script>
<!--script type="text/javascript" src="lib/d3.min.js"></script-->
<script>
    $LAB.script("lib/vue.js")
        .script("lib/jquery-3.1.1.slim.min.js")
        .script("lib/Const.js")
        .script("model/model.js")
        .script("lib/ATSC_UI.js")
        .script("lib/Arrays.js")
        .script("component/indexComp.js")
        .wait(function () {
            /*
             var data = [1, 1, 2, 3, 5, 8, 13];

             var canvas = document.querySelector("canvas"),
             context = canvas.getContext("2d");

             var width = canvas.width,
             height = canvas.height,
             radius = Math.min(width, height) / 2;

             var colors = [
             "#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
             "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"
             ];

             var outerRadius = radius - 10,
             innerRadius = radius - 70,
             cornerRadius = 12;

             var arc = d3.arc()
             .outerRadius(outerRadius)
             .innerRadius(innerRadius)
             .cornerRadius(cornerRadius)
             .context(context);

             var circle = d3.arc()
             .startAngle(0)
             .endAngle(2 * Math.PI)
             .innerRadius(0)
             .context(context);

             var pie = d3.pie();

             var arcs = pie(data);

             context.translate(width / 2, height / 2);

             context.globalAlpha = 0.5;
             arcs.forEach(function (d, i) {
             context.beginPath();
             arc(d);
             context.fillStyle = colors[i];
             context.fill();
             });

             context.globalAlpha = 1;
             context.beginPath();
             arcs.forEach(arc);
             context.lineWidth = 1.5;
             context.strokeStyle = "#fff";
             context.stroke();

             context.beginPath();
             arcs.forEach(function (d) {
             corner(d.startAngle, outerRadius - cornerRadius, +1);
             corner(d.endAngle, outerRadius - cornerRadius, -1);
             corner(d.endAngle, innerRadius + cornerRadius, -1);
             corner(d.startAngle, innerRadius + cornerRadius, +1);
             });
             context.strokeStyle = "#000";
             context.stroke();

             function corner(angle, radius, sign) {
             context.save();
             context.translate(
             sign * cornerRadius * Math.cos(angle) + Math.sqrt(radius * radius - cornerRadius * cornerRadius) * Math.sin(angle),
             sign * cornerRadius * Math.sin(angle) - Math.sqrt(radius * radius - cornerRadius * cornerRadius) * Math.cos(angle)
             );
             circle.outerRadius(cornerRadius - 1.5)();
             context.restore();
             }
             */
            init();
            createModel(function () {
            });
            $("#repeat").addClass("onFocus");
        });
</script>
</body>
</html>