<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div id="app">
        {{message}}
    </div>
    <div id="app-2" v-bind:class="icon">
        <span v-bind:title="message" v-bind:style="styleObject">
            Hover mouse here for few seconds. See result.
        </span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>
    <a v-bind:href="url">www.baidu.com</a>
    <div id="computed-Prop">
        <p>Original message: {{ message }}</p>
        <p>Reverse it: {{ reverseStr }}</p>
    </div>
    <div id="input-watch">
        <p>
            Input anything you want:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>
    <ul id="repeat-object" class="demo">
        <li v-for="(value, key, index) in object">
            {{ value }} : {{ key }} : {{ index }}
        </li>
    </ul>
</head>
<body>
<script type="text/javascript" src="lib/vue.js"></script>
<script>
    var exp = new Vue({
        el: '#computed-Prop',
        data: {
            message: "You are the sucker."
        },
        computed: {     //computed properties are cached based on their dependencies.
            //Computed getter
            reverseStr: function () {
                return this.message.split('').reverse().join('');
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on: ' + new Date(),
            icon: 'fa fa-signal fa-2x',
            styleObject: {
                color: 'red',
                fontSize: '30px'
            }
        }
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: 'Learn JS'},
                {text: 'Learn Vue'},
                {text: 'Build something awesome'}
            ]
        }
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });
    //Define a component and template here.
    Vue.component('todo-item', {
        props: ['todo'],        //means properties.
        template: '<li>{{ todo.text }}</li>'
    });

    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                {text: 'Vegetables'},
                {text: 'Cheese'},
                {text: 'Something else'}
            ]
        }
    });
    var handler = new Vue({
        el: '#input-watch',
        data: {
            question: '',
            answer: 'Cannot give a response'
        },
        watch: {
            question: function (newQuestion) {
                this.answer = 'Waiting for you to stop typing...';
                setTimeout(this.getAnswer(), 100);
            }
        },
        methods: {
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions usually contain a question mark like /"?/" ';
                    return;
                }
                this.answer = 'Thinking...';
                setTimeout(this.answer = 'Maybe', 100);
            }
        }
    });

    new Vue({
        el: '#repeat-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    });

</script>
</body>
</html>